:root {
  --brend-color: #2196f3;
  --header-text-color: #212121;
  --text-color: #757575;

  --title-text-color: #212121;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--header-text-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* -------HEADER------- */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  color: var(--brend-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--title-text-color);
}
.header-logo-footer {
  color: #fff;
}
.navigation {
}
.nav-list {
}
.nav-item {
}
.nav-link {
  color: var(--header-text-color);
}
.current,
.nav-link:hover,
.nav-link:focus,
.nav-link-email:hover,
.nav-link-tel:hover,
.nav-link-email:focus,
.nav-link-tel:focus {
  color: var(--brend-color);
}
.nav-info {
}
.nav-item-email {
}
.nav-item-tel {
}
.nav-link-email,
.nav-link-tel {
  color: var(--text-color);
}

/* -------MAIN-INDEX------- */
.hero {
  background: #2f303a;
}
.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  background-color: var(--brend-color);
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* -------ABOUT-INDEX------- */
.about {
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-list {
}
.about-item {
}
.about-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-after {
}
/* -------ABOUT-AFTER-INDEX------- */
.about-after-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.about-after-list {
}
.about-after-item {
}
.about-after-img {
}
/* -------TEAM-INDEX------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* -------FOOTER------- */
.footer {
  background-color: #2f303a;
}
.address {
}
.address-info {
  font-style: normal;
}
.address-item {
}
.address-map {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #fff;
}
.address-mail,
.address-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* -------ASIDE-PORTFOLIO------- */
.aside {
}
.aside-list {
}
.aside-item {
}
.aside-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.current-btn,
.aside-btn:hover,
.aside-btn:focus {
  background-color: var(--brend-color);
  color: #fff;
}
/* -------MAIN-PORTFOLIO------- */
.section-portfolio {
}
.section-item {
}
.section-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.section-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
